*{
	padding: 0px;
	margin: 0px;
}
body{
	background-color: #FFFFFF;
    box-sizing: border-box;
}
.contenedor{
    width:100%;
    height:100%; 
	box-sizing: border-box;
}

.aside{
    width:100%;
    height:800px;
    color:#ffffff;
    background:url(../img/laptop-mobile.jpg);
    background-color:#012C5C;  
    background-size:cover;
    position:relative;
    align-items:left;
    display:block; 
    float:left; 
    box-sizing:border-box;    
}

.aside:before {
    content:"";
    width:50%;
    height:800px;
    background-color:#00A8FF; 
    position: absolute; /*importante para poder ver el color sobre la imagen*/
    opacity: 0.5;
    float:left;    
}
img{
    width:20%;
    height:270px;
    position:relative;
    position:center;
    margin:auto;
    }

.aside img{
    display:flex; 
    flex-direction:column;
    position: relative;
    float:center;
    top:300px; 
    left:204px;
    z-index: 1;
}
#btn-menu{
display:none;

}

.aside label{
    font-size: 30px;
    cursor: pointer;
    display: block; 
    position:absolute;
    padding:40px;
    float:left;
    top:0px;
    z-index: 1;
}
.menu{
    position:absolute;
    top:0px;
    right:0;
    left:0;
    width:100%;
    height:800px;
    opacity: 0.8;
    border-width: 5px;
    border-color:black;
    padding: 5px;
    z-index:1; 
    transform: translateX(-100%);
    transition: all 0.3s;
    box-sizing: border-box;
}
#btn-menu:checked ~ .menu{
        transform: translateX(0%); //para que aparesca el menu
        
    }
.menu ul{
    background-color:#012C5C;
    display:block;
    list-style: none; 
    text-align:center; 
}

.menu a{
    display:block;
    padding: 13px 18px; 
    color:#ffffff; 
    text-decoration: none; // quita el subrallado
	box-sizing: border-box;
}
.menu a:hover{ background-color: rgba(0,0,0,0.2); /*al pasar el cursor cambia el color*/
}
.menu a span{
     margin-left: 10px;
     color:  white;
}
.aside1{
    width:50%;
    height:800px;
    float:right;
    top: 0px;
    flex-direction: row;
    position: relative;
    margin: auto;
	box-sizing: border-box;
}
.aside1:before {
    content:"";
    width:100%;
    height:800px;
    background-color:#012C5C;   
    position: absolute; /*importante para poder ver el color sobre la imagen*/
    opacity: 0.8;
    float:left;    
}
section{
    padding:10px;
    border: 1px solid white;
    border-color: white;
    width:70%;
    height:246px;
    position:relative;
    margin-top: 300px;
    text-align: left;
    align-items:left;
    background-color:#012C5C; 
    z-index: 1;

}
.block { width:100%;
    height:600px;
    padding: 20px;
    background-color:#E4F1FE;
    float:left;  
    box-sizing:border-box;    
}
#aside3{
    width:30%;
    height:800px;
    padding:20px; 
    color: blue;
    float:left;
    top: 0px;
box-sizing: border-box;
   
}
.aside4{
    width:40%;
    height:400px;
    float:right;
    top: 0px;
    margin-right:200px;
    background:url(../img/imagen1.JPG);
    background-repeat: no-repeat;
    background-size:cover;
   box-sizing: border-box;
    
}
.aside4:before {
    content:"";
    width:39%;
    height:400px;
    margin-right: 200px;
    background-color:#00A8FF; 
    position: absolute; /*importante para poder ver el color sobre la imagen*/
    opacity: 0.5;
    top: 800;
    float:right; 
	box-sizing: border-box;
     
}

h1{
    color:#ffffff;
    font-size: 30px;
   font-family: Arial;
}
h2{
    color:#ffffff;
    font-size: 20px;
    font-family:serif;  
}
h3{
    font-size: 20px;
    font-family:Times New Roman;
    color:#ffffff ;
}
@media(max-width:768px){  
    .contenedor{
       width:100%;
    }
.aside{
width:100%;
height:400px;
}
.aside:before {
    width:50%;
    height:400px;
}
.aside1{
 width:50%;
 height:400px; 
  }
.aside1{
    width:50%;
    height:400px;
	}
.aside1:before {
    content:"";
    width:100%;
    height:400px;
		}
  section{
    width:70%;
    height:80px;
    margin-top:175px;
        }
    img{
    padding:10px;
    width:30%;
    height:102px;
    }
.aside img{	
top:165px; 
    left:37px;	
}
    .menu ul li:hover ul{
        display: none;

    }
.menu{
	width:100%;
    height:100px;
	box-sizing:border-box; 
	}
.block { width:100%;
    height:300px;
    box-sizing:border-box;    
}
.aside3{
    display:none;
}
.aside4{
    width:80%;
    height:200px;
    margin-right:10px;
    padding:1px;
   margin-top:1px;
	 box-sizing:border-box;  
}
.aside4:before {
    width:70%;
    height:200px;
padding:2px;
margin-right:25px;
margin-top:1px:
	box-sizing:border-box;  
	}
h1{
font-size:8px;
}
h2{
font-size:6px;
		}
h3{
font-size: 6px;
}
nav{
width:100%;
height:200px;
}
}
	

